page-contactarnos {
    p{
        line-height:1.5;
        font-size: 16px;
        //margin: 20px 22px 22px;
        text-align: justify;
        margin-left: 12px;
        margin-right: 12px;
      }
}
